@page "/Games/"
@page "/Games/{listingName}"

@using System.Text.Json
@using System.Text.Json.Serialization
@using System.IO
@using BlazorApp.Shared

@inject HttpClient Http

@if (Listings != null)
{
    <ListingsBlock ParentPage="Games" Listings="@Listings" ListingName="@ListingName"/>
}
else
{
    <span>Loading listings ...</span>
}

@code {
    [Parameter]
    public string ListingName { get; set; }

    public List<Listing> Listings { get; set; }

    public JsonSerializerOptions SerializerOptions => new JsonSerializerOptions
    {
        AllowTrailingCommas = true,
    };

    protected override async Task OnInitializedAsync()
    {
        Listings = new List<Listing>(await Http.GetFromJsonAsync<Listing[]>("listings-json/games.json", SerializerOptions));
    }
}
