@page "/"

<h1>My Folio</h1>

<p>
    Welcome to my folio. I will be adding to this as I work on projects, and as I remember to add said projects.
</p>
<p>
    Relevant links will be included with each listing.
</p>